@charset "utf-8";
/* CSS Document */

figure.zoom {
  background-position: 100% 100%;
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
}

figure.zoom img:hover {
  opacity: 0;
}

figure.zoom img {
  transition: opacity 0.5s;
  display: block;
  width: 200%;
}
